.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 10px;
}

.links,
.nodes {
    transform: translate(50%, 50%);
    width: 1440px;
    height: 1080px;
}

svg {
    width: 1440px;
    height: 1080px;
}